{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "env": {
    "dev": {
      "plugins": [
        "babel-plugin-styled-components"
      ]
    }
  }
}
